<html>
  <head>
    <title>Flask + Celery Examples</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0-alpha1/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0-alpha1/JSXTransformer.js"></script>
    <script type="text/jsx">
      /*** @jsx React.DOM */


       var FirstComponent = React.createClass({
           render: function() {
               return (<p1>Hello world.</p1>);
           }
       });
       React.render(<FirstComponent />, document.getElementById('mount-point') );
    </script>
  </head>
  <body>
    <h1>Flask + Celery Examples</h1>
    <div id="mount-point"></div>
  </body>
</html>
